body, textarea {
    font-family: Menlo,consolas,monospace;
    font-size: .9rem;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:10px 0;
}

.past-commands:before{
      content: "<";
    color: #8a8686;
    margin: 0 5px 3px 3px;
    font-size: 26px;
}
.input-row{
  display: flex;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    min-height: 30px;
}

.input-row.error-row{
  background-color: #fde2e2;
}

.text-input{
  width: 100%;
    flex: 1 1;
    border: none;
    align-items: center;
    margin: 0;
    padding-top: 8px;
    height: 20px;
}

.pre-symbol{
    margin: 0 5px;
    font-weight: bold;
}

.pre-symbol.type-input{
color:#0089ec;
}

.pre-symbol.type-past-command{
color:#464444;
}

.pre-symbol.type-past-value{
color:#9e9d9d;
}


textarea:focus, input:focus{
    outline: none;
}

.container{
  max-height: calc(100vh - 75px);
    overflow-y: auto;
}